@font-face {
  font-family: "UbuntuRegular", sans-serif;
  src: local("UbuntuRegular"), url("./assets/fonts/Ubuntu-Regular.ttf");
}

:root {
  --main-blue: #3498db;
  --light-blue: #7d9ed9;
  --dark-blue: #0f43a2;
  --sky-blue: #87ceeb;
  --deep-blue: #2474ce;
}


* {
  font-family: "UbuntuRegular", sans-serif;
  margin: 0;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightslategrey;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

@mixin customAvatarStyles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  background-color: lightslategrey;
}

@mixin customInputStyles {
  border-radius: 9999px;
  outline: none;
  color: var(--basic-black);
  cursor: pointer;
  transition: background-color 0.5s ease-in-out 0s;

  &:hover {
    border-color: white;
  }

  &::placeholder {
    color: lightslategrey;
    transition: color 0.5s ease;
  }

  &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
    transition: background-color 0.5s ease-in-out 0s;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("./assets/img/blue-smoke-collection-white-background.jpg");
  object-fit: cover;
  background-size: cover;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;

  &:hover {
    color: var(--light-blue);
  }
}

button {
  padding: 8px 10px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: 0 0 0 transparent;
  font-size: 15px;
  background-color: var(--light-blue);
  color: white;

  &:hover {
    transition: 0.5s;
    box-shadow: 0 5px 15px rgb(142, 164, 212);
  }

  &:disabled {
    opacity: 0.2;
  }
}

img {
  background-color: grey;
}

input {
  font-size: 15px;
  &::placeholder {
    transition: color 0.5s ease;
  }
}