@import "../../../index";

.form {

  &__login,
  &__register,
  &__updateInfo,
  &__changePassword{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__register {
    height: 340px;
  }

  &__login {
    height: 200px;
  }

  &__updateInfo {
    height: 200px;
  }

  &__forgotPass {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    button {
      width: 100%;
    };
  }

  &__changePassword {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;

    button {
      margin: 0;
    }
  }

  &__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--light-blue);

    svg {
      width: 20px;
      height: 20px;
      color: white;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s ease-in-out 0s;

    &:hover {
      color: lightslategrey;
      background-color: var(--light-blue);
    }
  }

  &__input {
    @include customInputStyles;
    width: calc(100% - 40px);
    padding: 10px 20px;
    border: 1px solid var(--deep-blue);
    background-color: transparent;
  }

  &__success {
    text-align: center;
    font-size: 15px;
  }
}

.errMessage {
  text-align: center;
  color: red;
  font-size: 15px;
}

@media screen and (max-width: 950px) {
  .form {
    &__schedule {
      &__title {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .form {
    &__error{
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 380px) {
  .form {
    &__error{
      font-size: 13px;
    }
  }
}