.auth {
  &__page {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    h5 {
      text-align: center;
    }

    &__form, &__formRecover {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      padding: 25px 15px;

      h4 {
        margin-bottom: 20px;
        font-size: 20px;
      }

      h5 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
      }

      a {
        text-align: center;
      }
    }

    &__title {
      h3{
        text-align: center;
      }
    }

    &__formRecover {
      width: 80%;
    }
  }

  &__container {
    &__forgot {
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
  }
}

.user {
  &__page {
    display: flex;
    justify-content: flex-end;
  }
}

.chat {
  &__page {
    display: flex;
    height: 450px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: rgba(156, 163, 175, 0.4);
    background-clip: padding-box;
    backdrop-filter: blur(1rem);
  }
}

.backTo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFound {
  &__page {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 300px;

  }

  &__content {
    width: 300px;
    padding: 15px 15px 5px 15px;
    border-radius: 15px;
    backdrop-filter: blur(1rem);
    background-color: rgba(119, 136, 153, 0.3);
  }

  &__message {
    font-size: 17px;
    color: white;
  }
}

@media (min-width: 768px) {
  .chat {
    &__page {
      height: 550px;
    }
  }
}

@media screen and (max-width: 900px) {
  .auth {
    &__page {
      &__title {
        h3 {
          font-size: 20px;
        }
      }
      &__form {
        h4 {
          font-size: 17px;
        }
        h5 {
          font-size: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .auth {
    &__container {
      flex-direction: column;
      height: inherit;

    }
    &__page{
      justify-content: center;


      &__title {
        width: 50%;
        height: 40%;
      }
      &__form {
        width: calc(100% - 30px);
        height: 80%;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        background-color: white;
      }
      &__formShort {
        height: 50%;
        justify-content: center;
      }
      &__formRecover {
        width: 50%;
      }
    }
  }
}