.sidebar {
  &__container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid lightslategrey;
  }

  &__actionButton {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    border-top: 1px solid lightslategrey;
  }

  &__searchError {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;



    h4
    {
      padding: 15px;
      background-color: var(--light-blue);
      border-radius: 1rem;

    }
  }
}

@media screen and (max-width: 650px) {
  .open, {
    width: 100%;
    opacity: 1;
  }
  .close {
    width: 0;
    opacity: 0;
  }
}
