<div class="email-footer"
     style="background-color: #8ea4d4; color: #ffffff; padding: 10px 35px; text-align: center;">
    <p>MyCorp - Copyright © 2024</p>
    <p><a href="#">click here</a></p>
</div>
