<div class="email-header"
     style="background-color: #8ea4d4; color: #ffffff; padding: 20px 35px; text-align: center;">
    <b>LOGO</b>
    <img src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" alt="icon" style="width: 55px; height: 55px;">
</div>
